<table mat-table  [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

  <!-- Position Column -->
  <ng-container *ngFor="let number of numbers"  matColumnDef="{{analyse.columns[number]}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{analyse.columns[number]}} </th>
    <td mat-cell *matCellDef="let element"> {{element[number]}} </td>
  </ng-container>
  <
  <tr mat-header-row *matHeaderRowDef="analyse.columns"></tr>
  <tr mat-row *matRowDef="let row; columns: analyse.columns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
