<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <div *ngIf="!loading" class="example-radio-group">
      <label>Odaberi tablicu:</label>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedTable">
        <mat-radio-button *ngFor="let table of tables" [value]="table">{{table.nazTablica}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" (click)="getDetails()" matStepperNext>Odaberi</button>
  </mat-step>
  <mat-step>
    <div *ngIf="tableDetails" class="example-radio-group">
      <div class="row">
        <div class="column">
          <label>Odaberi mjere i dimenzije:</label>
          <label>Mjere:</label>
          <section>
            <mat-checkbox *ngFor="let measurement of tableDetails.measurements"
                          (change)="check(measurement)" [checked]="measurement.checked">{{measurement.ukImeAtrib}}</mat-checkbox>
          </section>
        </div>
        <div class="column">
          <label>Dimenzije:</label>
          <section>
            <div *ngFor="let dimension of tableDetails.dimensions">
              <button (click)="checkDimension(dimension)">
                <mat-icon>+</mat-icon>
                {{dimension.name}}</button>
              <div *ngIf="dimension.checked">
                <mat-checkbox *ngFor="let atribute of dimension.atributes" [checked]="atribute.checked"
                              (change)="checkAtribute(atribute)">{{atribute.name}}</mat-checkbox>
              </div>
            </div>
          </section>
        </div>
      </div>
      <textarea disabled [hidden]="sql === undefined">{{sql}}</textarea>

    </div>
    <button mat-button matStepperPrevious>Povratak na izbor tablice</button>
    <button mat-raised-button color="primary" (click)="analyze()" matStepperNext>Analiziraj</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>izvještaj</ng-template>
    <div *ngIf="analyse">
      <app-analyse [tableDetails]="tableDetails" [analyse]="analyse"></app-analyse>
    </div>
    <div>
      <button mat-button matStepperPrevious>Povratak na izbor atributa</button>
      <button mat-button (click)="stepper.reset()">Kreni ispočetka</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>




