.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
